In [3]:
for num in [1,2,3,4,5]:
    print(num**2)

1
4
9
16
25

In [8]:
for num in 'Computer':
    print(num)

C
o
m
p
u
t
e
r

In [9]:
prices=[2.6,5.3,8.1]

In [10]:
for price in prices:
    print('Price is',price)

Price is 2.6
Price is 5.3
Price is 8.1

In [22]:
import random
r1=random.random()
print(r1)
r2=random.choice([1,2,3,4])
print(r2)
r3=random.randint(1,100)
print(r3)

0.17770519933675977
4
54

In [32]:
for i in range(2017,2025,2):
    print(i)

2017
2019
2021
2023

In [31]:
import random
for i in range(10):
    num=random.randint(1,2000)
    print(num)

135
794
1436
375
1017
1787
1261
1018
1498
539

In [36]:
n={'Mutton':120,'Chicken':80,'Veg':40}
for name,price in n.items():
    print(name,': $',price)

Mutton : $ 120
Chicken : $ 80
Veg : $ 40

In [2]:
n=int(input('Enter a num'))
for i in range(1,n+1,1):
    print(i)

Enter a num5
1
2
3
4
5

In [8]:
for i in range(2005,2009,1):
    print('Outer',i)
    for j in range(2005,2009,1):
        print('Inner',j)
print('Good Bye!')

Outer 2005
Inner 2005
Inner 2006
Inner 2007
Inner 2008
Outer 2006
Inner 2005
Inner 2006
Inner 2007
Inner 2008
Outer 2007
Inner 2005
Inner 2006
Inner 2007
Inner 2008
Outer 2008
Inner 2005
Inner 2006
Inner 2007
Inner 2008
Good Bye!

In [15]:
#WAP to print table of n, where n is entered by the user.
n=int(input('Enter A Number:-'))
print('The Table of',n,'is here')
for i in range(1,11):
    print(n,'*',i,'=',n*i)

Enter A Number:-5
The Table of 5 is here
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [7]:
#WAP to print sum of n natural numbers, where n is entered by the user.
m=int(input('Enter a natural number'))
k=0
for i in range(1,m+1,1):
    k+=i
print(k)

Enter a natural number8
36

In [12]:
#WAP to print the factorial of the given number, where number is entered by the user. 
j=int(input('Enter A Number:-'))
h=1
for w in range(1,j+1,1):
    h*=w
print(h)

Enter A Number:-4
24

In [ ]:
#WAP to input sales of the month and calculate the average sales of that month.
d=int(input('Enter :-'))

In [1]:
#program to print my name,branch using comand line
print('Name:-Abhijit Nanda')
print('Branch:-CSE')

Name:-Abhijit Nanda
Branch:-CSE

In [6]:
#program to print subject details of current semestar
print("SubjectListof4thSemCSE:-")
print('--------------------------')
print("DiscreteMathematics")
print("DesignandAnalysisofAlgorithms")
print("EngineeringEconomics/OrganisationalBehaviour")
print("ComputerOrganizationandArchitecture")
print("ProblemSolvingandPythonProgrammingLaboratory")
print("DesignandAnalysisofAlgorithmsLab")
print("ComputerOrganizationandArchitectureLab")

SubjectListof4thSemCSE:-
--------------------------
DiscreteMathematics
DesignandAnalysisofAlgorithms
EngineeringEconomics/OrganisationalBehaviour
ComputerOrganizationandArchitecture
ProblemSolvingandPythonProgrammingLaboratory
DesignandAnalysisofAlgorithmsLab
ComputerOrganizationandArchitectureLab

In [1]:
#program to find sum of 3 Numbers and theres Average
n=int(input("Enter 1st Number"))
n1=int(input("Enter 2nd Number"))
n2=int(input("Enter 3rd Number"))
print('Sum of Three Numbers is:',n+n1+n2)
print('Average of Three Numbers is:',(n+n1+n2)/3)

Enter 1st Number5
Enter 2nd Number2
Enter 3rd Number5
Sum of Three Numbers is: 12
Average of Three Numbers is: 4.0

In [3]:
#program to calculate simple interest
t=int(input('Enter Time Period:'))
p=int(input('Enter The Principal:'))
r=int(input('Enter rate of intrest'))
si=(p*r*t)/100
print('Simple Intrest:',si)

Enter Time Period:8
Enter The Principal:5
Enter rate of intrest2
Simple Intrest: 0.8

In [5]:
#program to check number is even or odd[if-elsestatement]
n=int(input('Enter Number:'))
if n%2==0:
    print('You have Entered a Even Number.')
else:
    print('You have Entered a Odd Number.')

Enter Number:4
You have Entered a Even Number.

In [13]:
#program to check valid Roll number
n=int(input('Enter a Roll Number:'))
if (n>=1 and n<=63):
    print('You have Entered a Valid Roll Number.')
else:
    print('You have Entered a Invalid Roll Number.')

Enter a Roll Number:85
You have Entered a Invalid Roll Number.

In [19]:
#program to check greater number among two numbers
n1=int(input('Enter The 1st Number'))
n2=int(input('Enter The 2nd Number'))
if n1>n2:
    print(n1 ,"is greater than" ,n2)
elif n1==n2:
    print(n1, 'is equal to' ,n2)
else:
    print(n2 ,'is greater than' ,n1)

Enter The 1st Number4
Enter The 2nd Number4
4 is equal to 4

In [21]:
#program to check number is divisible by 2,3 and 5.
d=int(input('Enter a Number:'))
if (d%2==0 and d%3==0 and d%5==0):
    print(d ,'is divisible by 2,3,5.')
else:
    print(d ,'is not divisible by 2,3,5.')

Enter a Number:4
4 is not divisible by 2,3,5.

In [1]:
li=[]
num=int(input('Enter the number of element in the list:'))
for i in range(1,num+1):
    ele=int(input("Enter Elements:"))
    li.append(ele)
print("Largest Element In the list is:",max(li))

Enter the number of element in the list:5
Enter Elements:10
Enter Elements:2
Enter Elements:58
Enter Elements:25
Enter Elements:265
Largest Element In the list is: 265

In [2]:
list2=[50,8,42,10,48]
print("Largest Element In the list is:",max(list2))

Largest Element In the list is: 50

In [ ]:
#