In [2]:
thisset={'Apple','Banana','Cherry','Apple'}
print(thisset)

{'Banana', 'Cherry', 'Apple'}

In [8]:
thisset={'Banana','Apple','Cherry','Pineapple'}
for x in thisset:
    print(x)

Banana
Pineapple
Cherry
Apple

In [9]:
thisset={'Apple','Banana','Cherry'}
print('Banana' in thisset)

True

# Program to print day name using number 1 to 7

In [11]:
n=int(input('Enter the Day Number'))
if n==1:
    print('Sunday')
elif n==2:
    print('Monday')
elif n==3:
    print('Tuesday')
elif n==4:
    print('Wednesday')
elif n==5:
    print('Thursday')
elif n==6:
    print('Friday')
else:
    print('Saturday')

Enter the Day Number5
Thursday

# Program to check BPUT grades using if-elif-else statement

In [14]:
n=int(input('Enter Your Percentage'))
if n>=90 and n<=100:
    print('O Outstanding Grade')
elif n>=80 and n<=89:
    print('E Excellent Grade')
elif n>=70 and n<=79:
    print('A Very Good Grade')
elif n>=60 and n<=69:
    print('B Good Grade')
elif n>=50 and n<=59:
    print('C Fair Grade')
elif n>=37 and n<=49:
    print('D Below Average Grade')
else:
    print('F Fail')

Enter Your Percentage36
F Fail

# Program to find even numbers in a list

In [17]:
list1=[11,25,22,24,65,56,100]
for x in list1:
    if (x%2==0):
        print(x)

22
24
56
100

# Program to merge two lists

In [18]:
list1=['a','b','c']
list2=[1,2,30,56]
x=list1+list2
print(x)

['a', 'b', 'c', 1, 2, 30, 56]

# Interchange first and last element of a list

In [19]:
list1=[11,25,22,24,65,56,100]
x=list1[0]
y=list1[-1]
list1[0]=y
list1[-1]=x
print(list1)

[100, 25, 22, 24, 65, 56, 11]

#  Program to substract a list from another list

In [25]:
list1=[1,2,59,45]
list2=[1,2,30,56]
x=[]
zipobject=zip(list1,list2)
for i,j in zipobject:
    x.append(i-j)
print(x)

[0, 0, 29, -11]

# Program to store following in list 10,20,30,40,50,60,70,80,90 print in forward and reverse form

In [6]:
l1=[10,20,30,40,50,60,70,80,90]
l1.sort(reverse=True)
print(l1)
l1.sort()
print(l1)

[90, 80, 70, 60, 50, 40, 30, 20, 10]
[10, 20, 30, 40, 50, 60, 70, 80, 90]

# Program to store following in list red green,blue,yellow,black,pink,gray and print in

In [1]:
l1=['green','blue','yellow','black','pink','gray']
l1.sort()
print(l1)

['black', 'blue', 'gray', 'green', 'pink', 'yellow']

In [3]:
thisset={'apple','banana','cherry'}
thisset.add('orange')
print(thisset)

{'orange', 'cherry', 'banana', 'apple'}

In [4]:
thisset={'apple','banana','cherry'}
tropical={'pineapple','orange','mango'}
thisset.update(tropical)
print(thisset)

{'pineapple', 'orange', 'mango', 'apple', 'cherry', 'banana'}

In [2]:
thisset={'apple','banana','cherry'}
tropical=[1,'abhi']
thisset.update(tropical)
print(thisset)

{1, 'apple', 'abhi', 'cherry', 'banana'}

In [4]:
thisset={'apple','banana','cherry'}
thisset.remove('banana')
print(thisset)

{'cherry', 'apple'}

In [6]:
thisset={'apple','banana','cherry'}
thisset.discard('banana')
print(thisset)

{'cherry', 'apple'}

In [10]:
thisset={'apple','banana','cherry'}
thisset.clear()
print(thisset)

set()

In [11]:
thisset={'apple','banana','cherry'}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

In [17]:
thisset={'apple','banana','cherry'}
x=thisset.pop()
print(x)
print(thisset)

cherry
{'banana', 'apple'}

In [18]:
thisset={'apple','banana','cherry'}
for x in thisset:
    print(x)

cherry
banana
apple

In [19]:
s1={'a','b','c','d'}
s2={1,2,3,4}
s3=s1.union(s2)
print(s3)

{1, 2, 3, 4, 'd', 'a', 'c', 'b'}

In [24]:
s1={'a','b','c','d'}
s2={1,2,3,4}
s1.update(s2)
print(s1)

{1, 2, 3, 4, 'd', 'a', 'c', 'b'}

In [26]:
x={'a','b','c'}
y={'b','c','e'}
x.intersection_update(y)
print(x)

{'b', 'c'}

In [28]:
x={'a','b','c'}
y={'b','c','e'}
z=x.intersection(y)
print(z)

{'b', 'c'}

In [31]:
x={'a','b','c'}
y={'b','c','e'}
x.symmetric_difference_update(y)
print(x)

{'e', 'a'}

In [32]:
x={'a','b','c'}
y={'b','c','e'}
z=x.symmetric_difference(y)
print(z)

{'e', 'a'}