In [14]:
for i in range(1,30):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [15]:
for i in range(1,30):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29

In [13]:
l=["a","b","c"]
for l in enumerate(l):
    print(l)

(0, 'a')
(1, 'b')
(2, 'c')

In [9]:
l=["a","b","c"]
for index,l in enumerate(l):
    print(index,l)

0 a
1 b
2 c

In [11]:
l=["a","b","c"]
for l in enumerate(l):
    print(l[0],l[1])

0 a
1 b
2 c

In [16]:
name=[1,2,3,4,5]
del name[0:3]
name

[4, 5]

In [3]:
a=[(11,5),(78,4),(8,65),(98,3),(1,52)]
a.sort(key=lambda x:x[0])
print(a)

[(1, 52), (8, 65), (11, 5), (78, 4), (98, 3)]

In [4]:
a=[(11,5),(78,4),(8,65),(98,3),(1,52)]
a.sort(key=lambda x:x[1])
print(a)

[(98, 3), (78, 4), (11, 5), (1, 52), (8, 65)]

In [22]:
def a_first(a):
    return a[0]


a=[[11,5],[78,4],[8,65],[98,3],[1,52]]
a.sort(key=a_first)
print(a)

[[1, 52], [8, 65], [11, 5], [78, 4], [98, 3]]

In [20]:
def a_first(a):
    return a[1]


a=[[11,5],[78,4],[8,65],[98,3],[1,52]]
a.sort
print(a)

[[11, 5], [78, 4], [8, 65], [98, 3], [1, 52]]

In [23]:
l1=[1,2,3]
l2=[10,20,30]
print(list(zip(l1,l2)))

[(1, 10), (2, 20), (3, 30)]

In [24]:
l1=[1,2,3]
l2=[10,20]
print(list(zip(l1,l2)))

[(1, 10), (2, 20)]

In [25]:
l1=[1,2]
l2=[10,20,30]
print(list(zip(l1,l2)))

[(1, 10), (2, 20)]

In [26]:
l1=[1,2,3]
l2=[10,20,30]
print(list(zip("abcd",l1,l2)))

[('a', 1, 10), ('b', 2, 20), ('c', 3, 30)]

In [28]:
browsing=[]
browsing.append(1)
browsing.append(2)
browsing.append(3)
browsing.append(45)
print(browsing)

[1, 2, 3, 45]

In [29]:
browsing=[]
browsing.append(1)
browsing.append(2)
browsing.append(3)
print(browsing)
last=browsing.pop()
print(last)
print(browsing)

[1, 2, 3]
3
[1, 2]

In [32]:
from collections import deque
que=deque([])
que.append(1)
que.append(2)
que.appendleft(6)
que.append(7)
print(que)
que.popleft()
print(que)

deque([6, 1, 2, 7])
deque([1, 2, 7])

In [37]:
from array import array
number=array('i',[1,2,3])
number[1]=5
print(number)

array('i', [1, 5, 3])

In [40]:
number=[1,2,3,3,2,5,6,7]
first=set(n)
second={3,2,9,8,4}
print(first)
print(first|second) #union i.e. print all delete the duplicates
print(first&second)# print the values that common in both the sets
print(first-second)# print the elements that present in only first set
print(second-first)

{1, 2, 3, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{2, 3}
{1, 5, 6, 7}
{8, 9, 4}

In [41]:
point=dict(x=1,y=2)
print(point)

{'x': 1, 'y': 2}

In [43]:
point=dict(x=1,y=2)
point["x"]=20
point["z"]=5
print(point)

{'x': 20, 'y': 2, 'z': 5}

In [50]:
value=[]
for x in range(5):
    value.append(x*2)
    print(value)

[0]
[0, 2]
[0, 2, 4]
[0, 2, 4, 6]
[0, 2, 4, 6, 8]

In [1]:
value=[]
for x in range(10):

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
value=list(range(5))
value=[range(5),*'hello']
print(value)

[range(0, 5), 'h', 'e', 'l', 'l', 'o']

In [54]:
value=list(range(5))
value=[*range(5),*'hello']
print(value)

[0, 1, 2, 3, 4, 'h', 'e', 'l', 'l', 'o']

In [5]:
x=lambda a:a*5
print(x(2))

10

In [6]:
x=lambda a,b:a*b
print(x(4,8))

32

In [8]:
x=lambda a,b,c:a+b+c
print(x(5,6,9))

20

In [10]:
def myfunc(n):
    return lambda a:a*n
mydoub=myfunc(2)
print(mydoub(5))

10

In [15]:
def myfunc(n):
    return lambda a:a*n
mytri=myfunc(3)
print(mytri(5))

15

In [16]:
def myfunc(n):
    return lambda a:a*n
mytri=myfunc(3)
mydoub=myfunc(2)
print(mydoub(5))
print(mytri(5))

10
15

# If x*y is less than 1000 then print their product else print their sum.

In [3]:
def func(x,y):
    if x*y<=1000:
        return x*y
    else:
        return x+y
func(30,40)

70

In [12]:
previous=0
for x in range(10):
    c=previous+x
    print("Current Number:",x," Previous Number:",previous," Sum:",c)
    previous=x

Current Number: 0  Previous Number: 0  Sum: 0
Current Number: 1  Previous Number: 0  Sum: 1
Current Number: 2  Previous Number: 1  Sum: 3
Current Number: 3  Previous Number: 2  Sum: 5
Current Number: 4  Previous Number: 3  Sum: 7
Current Number: 5  Previous Number: 4  Sum: 9
Current Number: 6  Previous Number: 5  Sum: 11
Current Number: 7  Previous Number: 6  Sum: 13
Current Number: 8  Previous Number: 7  Sum: 15
Current Number: 9  Previous Number: 8  Sum: 17

In [24]:
str=input("Enter a String:")
for x in range(len(str)):
    if x%2==0:
        print(str[x])

Enter a String:Abhijit
A
h
j
t

In [30]:
string=input("Enter a String:")
print(string)
n=int(input("Enter The index number to remove:"))
string[n:]

Enter a String:Abhijit
Abhijit
Enter The index number to remove:1

'bhijit'

In [1]:
l=[10,20,33,46,55]
for i in range(len(l)):
    if l[i]%5==0:
        print(l[i])

10
20
55

In [3]:
str_x="Emma is good developer.Emma is a writer."
str_x.count("Emma")

2

In [15]:
for x in range(6):
    for i in range(x):
        print(x,end=" ")
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

# Palindrom Number

In [32]:
s=int(input("Enter a Number:"))
x=int(s/100)
y=int((s%100)/10)
z=s%10
e=((z*100)+(y*10)+(x*1))
if e==s:
    print("Entered Number is a Palindrom Number.")
else:
    print("Entered Number is not a Palindrom Number")

Enter a Number:254
Entered Number is not a Palindrom Number

In [39]:
s=[]
l1=[10,20,25,30,35]
for i in range(len(l1)):
    if l1[i]%2!=0:
        s.append(l1[i])
l2=[40,45,60,75,50]
for j in range(len(l2)):
    if l2[j]%2==0:
        s.append(l2[j])
        
        
print(s)

[25, 35, 40, 60, 50]

In [43]:
num=int(input("Enter a Number:"))
x=int(num/100)
y=int((num%100)/10)
z=int(num%10)
print(z," ",y," ",x)

Enter a Number:258
8   5   2

In [45]:
number=5874
print("Given Number:",number)
while number>0:
    digit=number%10
    number=number//10
    print(digit,end=" ")

Given Number: 5874
4 7 8 5

In [51]:
income=45000
tax=0
print("Given Income:",income)
if income<=10000:
    tax=0
elif income<=20000:
    x=income-10000
    tax=x*10/100
else:
    tax=0
    tax=10000*10/100
    tax+=(income-20000)*20/100
print(tax)

Given Income: 45000
6000.0

In [62]:
for n in range(1,11):
    for x in range(1,11):
        print(n*x,end=" ")
    print("\t")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [67]:
for i in range(0,6,1):
    for j in range(0,i+1):
        print("*",end=" ")
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [69]:
for i in range(7,0,-1):
    for j in range(0,i-1):
        print("*",end=" ")
    print(" ")

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [76]:
n=int(input("Enter the Base:"))
m=int(input("Enter the Exponent:"))
print(n," raises to the power of ",m,"is",pow(n,m))

Enter the Base:5
Enter the Exponent:4
5  raises to the power of  4 is 625