In [1]:
a="Abhijit"
i=len(a)//2
j=a[0]+a[i]+a[-1]
print(j)

Ait

In [2]:
a="Hello"
i=len(a)//2
k=a[i-1]+a[i]+a[i+1]
print(k)

ell

In [3]:
s1="Ault"
s2="Kelly"
a=len(s1)//2
s1[0:a]+s2+s1[a:]

'AuKellylt'

In [4]:
s1="America"
s2="Japan"
i=len(s1)//2
j=len(s2)//2
s=s1[0]+s2[0]+s1[i]+s2[j]+s1[-1]+s2[-1]
print(s)

AJrpan

In [5]:
s1="PyNaTive"
s=[]
k=[]
for i in range(len(s1)):
    if s1[i].islower():
        s.append(s1[i])
    else:
        k.append(s1[i])
x="".join(s+k)
print(x)

yaivePNT

In [6]:
str1="P@#yn26T^&ai6ve"
s=0
l=0
d=0
for i in str1:
    if i.islower() or i.isupper():
        l+=1
    elif i.isdigit():
        d+=1
    else:
        s+=1
print("Total Number of Digit in Str1 is:",d)
print("Total Number of Letters in Str1 is:",l)
print("Total Number of Symbols in Str1 is:",s)

Total Number of Digit in Str1 is: 3
Total Number of Letters in Str1 is: 8
Total Number of Symbols in Str1 is: 4

In [7]:
s1="Abc"
s2="Xyz"
s1_len=len(s1)
s2_len=len(s2)
res=""
length=s1_len if s1_len>s2_len else s2_len
s2=s2[::-1]
for i in range(length):
    if i<s1_len:
        res=res+s1[i]
    if i<s2_len:
        res=res+s2[i]
print(res)

AzbycX

In [8]:
s1="Y"
s2="PYnative"
if s1 in s2:
    print(True)
else:
    print(False)

True

In [9]:
s1="Welcome to USA,usa aswesome,is' it?"
s1=s1.lower()
print(s1.count("usa"))

2

In [10]:
s1="PYNATIVE29@#8496"
d=0
x=0
for i in s1:
    if i.isdigit():
        d+=1
        x=x+int(i)
    else:
        pass
s=x/d
print(s)

6.333333333333333

In [11]:
str1="Apple"
s=dict()
for i in str1:
    count=str1.count(i)
    s[i]=count
print(s)

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [12]:
s="PYnative"
print(s[::-1])

evitanYP

In [13]:
s="Emma is a data Scientists who knows python.Emma works at Google"
index=s.rfind('Emma')
print(index)

43

In [14]:
str1="Emma-is-a-data-Scientist"
str1=str1.split('-')
for i in str1:
    print(i)

Emma
is
a
data
Scientist

In [15]:
s=['abhi',"","Rahul","vivek","Aich",None,""]
res=[]
for i in s:
    if i:
        res.append(i)
print(res)

['abhi', 'Rahul', 'vivek', 'Aich']

In [16]:
str1='I am 20Years and 2 month old'
for i in str1:
    if i.isdigit():
        print(i,end="")

202

In [17]:
str1="Emma25 is Data Structure10"
res=[]
temp=str1.split()
for i in temp:
    if any(char.isalpha() for char in i) and any(char.isdigit() for char in i):
        res.append(i)
for x in res:
    print(x)

Emma25
Structure10

In [18]:
import string
str1="/*John is a @delveloper and$ #Musician"
for char in string.punctuation:
    str1=str1.replace(char,"#")
print(str1)

##John is a #delveloper and# #Musician

In [19]:
l1=[3,6,9,12,15,18,21]
l2=[4,8,12,16,20,24,28]
x=[]
y=[]
res=[]
for i in range(len(l1)):
    if i%2!=0:
        x.append(l1[i])
for j in range(len(l2)):
    if j%2==0:
        y.append(l2[j])
        
res.extend(x)
res.extend(y)
print(res)

[6, 12, 18, 4, 12, 20, 28]

In [20]:
l1=[54,44,27,79,91,41]
l1.pop(4)
print(l1)
l1.insert(2,45)
print(l1)
l1.append(94)
print(l1)

[54, 44, 27, 79, 41]
[54, 44, 45, 27, 79, 41]
[54, 44, 45, 27, 79, 41, 94]

In [21]:
l=[11,45,8,11,23,45,23,45,89]
d=dict()
for i in l:
    count=l.count(i)
    d[i]=count
print(d)

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [22]:
l1={2,3,4,5,6,7,8}
l2={4,9,16,25,36,49,64}
s=zip(l1,l2)
d=set(s)
print(d)

{(7, 49), (3, 4), (2, 64), (8, 25), (6, 16), (5, 9), (4, 36)}

In [23]:
l1={23,42,65,57,78,83,29}
l2={57,83,29,67,73,43,48}
inter=l1.intersection(l2)
print(inter)
for i in inter:
    l1.remove(i)
print(l1)

{57, 83, 29}
{65, 42, 78, 23}

In [24]:
l1={27,43,34}
l2={34,93,22,27,43,53,48}
if l1.issubset(l2):
    print("l1 is subset of l2:",True)
else:
    print("l1 is subset of l2:",False)
    
if l2.issubset(l1):
    print("l2 is subset of l1:",True)
else:
    print("l2 is subset of l1:",False)
if l1.issuperset(l2):
    print("l1 is superset of l2:",True)
else:
    print("l1 is superset of l2:",False)
if l2.issuperset(l1):
    print("l2 is superset of l1:",True)
else:
    print("l2 is superset of l1:",False)
if l1.issubset(l2):
    l1.clear()
if l2.issubset(l1):
    l2.clear()
print(l1)
print(l2)

l1 is subset of l2: True
l2 is subset of l1: False
l1 is superset of l2: False
l2 is superset of l1: True
set()
{34, 43, 48, 53, 22, 27, 93}

In [25]:
l1={47,64,69,37,76,83,95,97}
d={'John':47,'Emma':69,'Kelly':76,'Jason':97}
r=[i for i in l1 if i in d.values()]
print(r)

[97, 69, 76, 47]

In [26]:
s={'jan':47,'feb':52,'march':47,'april':44,'may':52,'june':53,'july':54,'aug':44,'sept':54}
l1=list(s.values())
d=set(l1)
l1=list(d)
print(l1)

[44, 47, 52, 53, 54]

In [27]:
l1=[87,45,41,65,94,41,99,94]
s=set(l1)
l1=list(s)
print(l1)
t=tuple(l1)
print(t)
print(max(t))
print(min(t))

[65, 99, 41, 45, 87, 94]
(65, 99, 41, 45, 87, 94)
99
41

In [28]:
l1=[100,200,300,400,500]
print(l1[::-1])

[500, 400, 300, 200, 100]

In [29]:
l1=['M','na','i','Ke']
l2=['y','me','s','lly']
l3=[i + j for i,j in zip(l1,l2)]
print(l3)

['My', 'name', 'is', 'Kelly']

In [30]:
l1=[1,2,3,4,5,6,7]
l1=[i*i for i in l1]
print(l1)

[1, 4, 9, 16, 25, 36, 49]

In [31]:
l1=['Hello','take']
l2=['Dear','Sir']
l3=[i+' '+j for i in l1 for j in l2]
print(l3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [32]:
l1=[10,20,30,40]
l2=[100,200,300,400]
l2=l2[::-1]
for x,y in zip(l1,l2):
    print(x,y)

10 400
20 300
30 200
40 100

In [33]:
l1=['Mike','','Emma','Kelly','','Brad']
r=list(filter(None,l1))
print(r)

['Mike', 'Emma', 'Kelly', 'Brad']

In [34]:
l1=[10,20,[300,400,[5000,6000],500],30,40]
l1[2][2].append(7000)
print(l1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [35]:
l1=['a','b',['c',['d','e',['f','g'],'k'],'l'],'m','n']
l2=['h','i','j']
l1[2][1][2].append(l2)
print(l1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', ['h', 'i', 'j']], 'k'], 'l'], 'm', 'n']

In [36]:
l1=[5,10,15,20,25,50,20]
index=l1.index(20)
l1[index]=200
print(l1)

[5, 10, 15, 200, 25, 50, 20]

In [37]:
l1=[5,20,15,20,25,50,20]
def removevalue(list,val):
    return [value for value in list if value!=val]
result=removevalue(l1,20)
print(result)

[5, 15, 25, 50]

In [38]:
l1=[5,20,15,20,25,50,20]
res=[]
for i in l1:
    if i!=20:
        res.append(i)
print(res)

[5, 15, 25, 50]

In [39]:
k=['Ten','Twenty','Thirty']
v=[10,20,30]
d=dict(zip(k,v))
print(d)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [40]:
d1={'Ten': 10, 'Twenty': 20, 'Thirty': 30}
d2={'Fourty':40,'Fifty':50}
d3={**d1,**d2}
print(d3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [41]:
d1={'Ten': 10, 'Twenty': 20, 'Thirty': 30}
d2={'Fourty':40,'Fifty':50}
d3=d1.copy()
d3.update(d2)
print(d3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [42]:
d1={'Ten': 10, 'Twenty': 20, 'Thirty': 30}
d2={'Fourty':40,'Fifty':50}
d1.update(d2)
print(d1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [43]:
d={
    'class':{
        'student':{
            'name':'Mike',
            'marks':{
                'physics':70,
                'history':90
            }
        }
    }
}
print(d['class']['student']['marks']['history'])

90

In [44]:
print(d.values())
print(d['class']['student'].values())

dict_values([{'student': {'name': 'Mike', 'marks': {'physics': 70, 'history': 90}}}])
dict_values(['Mike', {'physics': 70, 'history': 90}])

In [50]:
employees=['Kellys','Emma','John']
default={'designation':'Application Developer','Salery':8000}
res=dict.fromkeys(employees,default)
print(res)
print(res['Kellys'])

{'Kellys': {'designation': 'Application Developer', 'Salery': 8000}, 'Emma': {'designation': 'Application Developer', 'Salery': 8000}, 'John': {'designation': 'Application Developer', 'Salery': 8000}}
{'designation': 'Application Developer', 'Salery': 8000}

In [54]:
sampleDict={
    "name":'Kelly',
    'age':25,
    'salery':8000,
    'city':'New York'
}

key=['name','salery']
newDict ={k:sampleDict[k] for k in key}
print(newDict)

{'name': 'Kelly', 'salery': 8000}

In [55]:
sampleDict={
    "name":'Kelly',
    'age':25,
    'salery':8000,
    'city':'New York'
}
keystoremove=['name','salery']
smpleDict={k: sampleDict[k] for k in sampleDict.keys()-keystoremove}
print(smpleDict)

{'city': 'New York', 'age': 25}

In [6]:
sampleDict={'a':100,'b':200,'c':300}
n=200
if n in sampleDict.values():
    print(True)
else:
    print(False)

True

In [14]:
sampleDict={
    'name':'Kelly',
    'age':25,
    'salery':8000,
    'city':'New york'
}
sampleDict['Location']=sampleDict.pop('city')
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salery': 8000, 'Location': 'New york'}

In [31]:
sampleDict={
    'Physics':82,
    'Math':62,
    'Chemistry':50
}
print(min(sampleDict,key=sampleDict.get))

Chemistry

In [37]:
sampleDict={
    'emp1':{'name':'John','salery':6500},
    'emp2':{'name':'Brad','salery':9000},
    'emp3':{'name':'Kelly','salery':4500}
}
sampleDict['emp2']['salery']=6000
print(sampleDict)

{'emp1': {'name': 'John', 'salery': 6500}, 'emp2': {'name': 'Brad', 'salery': 6000}, 'emp3': {'name': 'Kelly', 'salery': 4500}}

In [45]:
S={'Yellow','Red','Green'}
l=['Blue','Pink']
d=set(l)
S.update(d)
print(S)

{'Red', 'Blue', 'Pink', 'Yellow', 'Green'}

In [47]:
s1={10,20,30,40,50}
s2={30,40,50,60,70}
print(s1.intersection(s2))

{40, 50, 30}

In [48]:
s1.update(s2)
print(s1)

{70, 40, 10, 50, 20, 60, 30}

In [52]:
s1={10,20,30,40,50}
s2={30,40,50,60,70}
s1.difference_update(s2)
print(s1)

{10, 20}

In [56]:
s1={10,20,30,40,50}
s1.remove(10)
s1.remove(20)
s1.remove(30)
print(s1)

{40, 50}

In [57]:
s1={10,20,30,40,50}
s1.difference_update({10,20,30})
print(s1)

{40, 50}

In [61]:
s1={10,20,30,40,50}
s2={30,40,50,60,70}
print(s1.symmetric_difference(s2))

{20, 70, 10, 60}

In [5]:
price=105.50
qty=210
amount=price*qty
if amount>10000:
    print ("10% discount applicable")
    discount=amount*10/100
    amount=amount-discount
else:
    if amount>5000 and amount<10000:
        print ("5% discount applicable")
        discount=amount*5/100
        amount=amount-discount
    else:
        if amount>2000 and amount<5000:
            print ("2% discount applicable")
            discount=amount*2/100
            amount=amount-discount
        else:
            if amount>1000 and amount<2000:
                print ("1% discount applicable")
                discount=amount*1/100
                amount=amount-discount
            else:
                print('No discount is applicable')
print ("amount payable:",amount)

10% discount applicable
amount payable: 19939.5

In [10]:
num=int(input('Enter a Number:'))
if num>0:
    print('This is a Positive Number.')
elif num==0:
    print('It is Zero')
else:
    print('This is a Negative Number')

Enter a Number:-4
This is a Negative Number

In [13]:
year=int(input('Enter a Year:'))
if year%100==0:
    if year%400==0:
        if year%4==0:
            print('It is a leap year')
else:
    print('It is not a Leap Year')

Enter a Year:2001
It is not a Leap Year

In [21]:
dict={1:100, 2:200, 3:300}

for k,v in dict.items():

    print (k,v)

1 100
2 200
3 300

In [25]:
dict={1:100, 2:200, 3:300}

for k in dict.keys():

    print (k,dict.get(k))

1 100
2 200
3 300

In [32]:
i=1
while i<13:
    print('16* {}= {}'.format(i,16*i))
    i+=1

16* 1= 16
16* 2= 32
16* 3= 48
16* 4= 64
16* 5= 80
16* 6= 96
16* 7= 112
16* 8= 128
16* 9= 144
16* 10= 160
16* 11= 176
16* 12= 192

In [40]:
for x in range(1,25,5):
    print(x)

1
6
11
16
21

In [4]:
num=int(input('Enter a Number:'))
for x in range(2,num):
    if num%x==0:
        print('{} is not a Prime Number.'.format(num))
        break
else:
    print("{} is a Prime Number.".format(num))

Enter a Number:25
25 is not a Prime Number.

In [9]:
num=int(input('Enter a Number:'))
d=2
while num>1:
    if num%d==0:
        print(d)
        num=num/d
        continue
    d=d+1

Enter a Number:90
2
3
3
5

In [1]:
def IPotter():
#    "This function morphs anyone into Harry Potter!"
    name='Abhijit'
    print("""Looking Slughorn straight in the eye, {} leant forwards a little.\n
'I am the Chosen One. I have to kill Voldemort. I need that memory.'\n
'You are the Chosen One?'\n'Of course I am,' said {} calmly.""".format(name,name))
    return

IPotter()

Looking Slughorn straight in the eye, Abhijit leant forwards a little.

'I am the Chosen One. I have to kill Voldemort. I need that memory.'

'You are the Chosen One?'
'Of course I am,' said Abhijit calmly.

In [7]:
def solve(meal_cost,tip_percent,tax_percent):
    meal_cost=float(input('Enter meal cost'))
    tip_percent=int(input('Enter Tip percent'))
    tax_percent=int(input('Enter tax percent'))
    tip=(meal_cost/100)*tip_percent
    tax=(meal_cost/100)*tax_percent
    meal=meal_cost+tip+tax
    print(round(meal))
    
solve(12.0,20,8)

15

In [14]:
arr=[1,2,5,7,3]
x=max(arr)
for i in arr:
    if ix:
        print()

[1, 2, 5, 3]

In [25]:
class Person:
    def __init__(self,initialAge):
        if initialage<0:
            self.age=0
            print('Age is not valid Setting to 0.')
        else:
            self.age=initalage
    def amIold(self):
        if self.age<13:
            print('You are Young')
        elif sel.age>=13 and self.age<18:
            print('You are teenager')
        else:
            print('You are old')
    def yearpasses(self):
        self.age+=1

In [17]:
n=int(input())
for i in range(1,n+1):
    s=input()
    print(s[0::2]+' '+s[1::2])

2
Abhijit
Ahjt bii
Nanda
Nna ad