In [5]:
import datetime
x=datetime.datetime.now()
print(x)

2021-09-22 10:51:24.221863

In [8]:
import datetime
x=datetime.datetime.now()
print(x.year)
print(x.strftime("%A"))

2021
Wednesday

In [16]:
import datetime
x=datetime.datetime(2023,2,19)
print(x)

2023-02-19 00:00:00

In [17]:
import datetime
x=datetime.datetime(2023,2,19,23,56,45,587452)
print(x)

2023-02-19 23:56:45.587452

In [26]:
import datetime
x=datetime.datetime.now()
print(x.strftime("%a")) #Short version of Weekday
print(x.strftime("%A")) #Full Version of Weekday
print(x.strftime("%b")) #Short version of Month name
print(x.strftime("%B")) #Full version of Month name
print(x.strftime("%w")) #Week Day as number 0-6,0 is Sunday
print(x.strftime("%d")) #Day of month 01-31
print(x.strftime("%m")) #Month as Number 1-12
print(x.strftime("%y")) #Short version of Year without century
print(x.strftime("%Y")) #Full version of Year
print(x.strftime("%H")) #Hour 24-format 00-23
print(x.strftime("%I")) #Hour 12-format 00-12

Wed
Wednesday
Sep
September
3
22
09
21
2021
11
11

In [44]:
import datetime
x=datetime.datetime.now()
print(x.strftime("%p")) #AM/PM
print(x.strftime("%M")) #Minute 00-59
print(x.strftime("%S")) #Second 00-59
print(x.strftime("%f")) #Microsecond 000000-999999
print(x.strftime("%j")) #Day Number of Year 001-365
print(x.strftime("%U")) #Week Number of year 00-53 Sunday is the first day of week
print(x.strftime("%W")) #Week Number of year 00-53 Monday is the first day of week
print(x.strftime("%c")) #Local Version of Date and time
print(x.strftime("%C")) #Century
print(x.strftime("%x")) #Local Version of Date
print(x.strftime("%X")) #Local Version of time
print(x.strftime("%%"))
print(x.strftime("%G")) #ISO 8601 year
print(x.strftime("%u")) #ISO 8601 weekday(0-7)
print(x.strftime("%V")) #ISO 8601 weeknumber(01-53)

AM
33
41
886481
265
38
38
Wed Sep 22 11:33:41 2021
20
09/22/21
11:33:41
%
2021
3
38

In [2]:
x=min(50,4,85)
y=max(50,4,85)
print(x)
print(y)

4
85

In [5]:
x=abs(-7.26)
print(x)
print(abs(-96))

7.26
96

In [7]:
x=pow(4,3)
print(x)
print(pow(3,4))

64
81

In [8]:
import math
x=math.sqrt(64)
print(x)

8.0

In [9]:
import math
x=math.ceil(2.4)
y=math.floor(2.4)
print(x)
print(y)

3
2

In [11]:
import math
x=math.pi
print(x)

3.141592653589793

In [10]:
import json
x='{"name":"Abhijit","age":19,"city":"jajpur"}'
y=json.loads(x)
print(y["age"])

19

In [11]:
import json
x={"name":"Abhijit","age":19,"city":"jajpur"}
y=json.dumps(x)
print(y)

{"name": "Abhijit", "age": 19, "city": "jajpur"}

In [14]:
import json
print(json.dumps({"name":"Abhi","age":20}))
print(json.dumps(['apple','banana']))
print(json.dumps(('apple','banana')))
print(json.dumps(42))
print(json.dumps("hello"))
print(json.dumps(23.65))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "Abhi", "age": 20}
["apple", "banana"]
["apple", "banana"]
42
"hello"
23.65
true
false
null

In [34]:
import json
x={"name":"Abhijit","age":19,"married":True,"divorced":False,"children":("Lolly","Kuttu"),"pet":None,"car":[{"model":"BMW","mpg":27.5},{"model":"FORD EDGE","mpg":24.1}]}
print(json.dumps(x,indent=5,separators=(".","="),sort_keys=True))

{
     "age"=19.
     "car"=[
          {
               "model"="BMW".
               "mpg"=27.5
          }.
          {
               "model"="FORD EDGE".
               "mpg"=24.1
          }
     ].
     "children"=[
          "Lolly".
          "Kuttu"
     ].
     "divorced"=false.
     "married"=true.
     "name"="Abhijit".
     "pet"=null
}

In [14]:
import re
txt="I am Abhijit Nanda"
x=re.search("I.*Nanda",txt)
if x:
    print("Yes")
else:
    print("No")

Yes

In [25]:
import re
txt="I am Abhijit here from 2002,fall"
x=re.findall("[a-z]",txt)
print(x)
y=re.findall("\d",txt)
print(y)
y=re.findall("A..i.it",txt)
print(y)
x=re.findall("^I",txt)
if x:
    print("Yes")
else:
    print("No")

['a', 'm', 'b', 'h', 'i', 'j', 'i', 't', 'h', 'e', 'r', 'e', 'f', 'r', 'o', 'm', 'f', 'a', 'l', 'l']
['2', '0', '0', '2']
['Abhijit']
Yes

In [29]:
x=re.findall("fall$",txt)
if x:
    print('yes')
else:
    print("no")
x=re.findall("Abx*",txt)
print(x)
if x:
    print("Yes")
else:
    print("No")
x=re.findall("al{2}",txt)
print(x)
x=re.findall("fall|stay",txt)
print(x)

yes
['Ab']
Yes
['all']
['fall']

In [30]:
import re
txt="The Rain in Spain"
x=re.findall("\AThe",txt)
if x:
    print("Yes")
else:
    print("No")

Yes

In [32]:
import re
txt="The Rain in Spain"
x=re.findall(r"\bThe",txt)
if x:
    print("Yes")
else:
    print("No")

Yes

In [33]:
import re
txt="The Rain in Spain"
x=re.findall(r"Spain\b",txt)
if x:
    print("Yes")
else:
    print("No")

Yes

In [38]:
import re
txt="The Rain in Spain"
x=re.findall(r"ain\B",txt)
print(x)
if x:
    print("Yes")
else:
    print("No")

[]
No

In [39]:
import re
txt="The Rain in Spain"
x=re.findall(r"\Bain",txt)
print(x)
if x:
    print("Yes")
else:
    print("No")

['ain', 'ain']
Yes

In [40]:
import re
txt="The Rain in Spain58"
x=re.findall("\d",txt)
print(x)

['5', '8']

In [41]:
import re
txt="The Rain in Spain58"
x=re.findall("\D",txt)
print(x)

['T', 'h', 'e', ' ', 'R', 'a', 'i', 'n', ' ', 'i', 'n', ' ', 'S', 'p', 'a', 'i', 'n']

In [42]:
import re
txt="The Rain in Spain58"
x=re.findall("\s",txt)
print(x)

[' ', ' ', ' ']

In [43]:
import re
txt="The Rain in Spain58"
x=re.findall("\S",txt)
print(x)

['T', 'h', 'e', 'R', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n', '5', '8']

In [44]:
import re
txt="The Rain in Spain58"
x=re.findall("\w",txt)
print(x)

['T', 'h', 'e', 'R', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n', '5', '8']

In [46]:
import re
txt="The Rain in! Spain58"
x=re.findall("\W",txt)
print(x)

[' ', ' ', '!', ' ']

In [52]:
import re
txt="The Rain in Spain58"
x=re.findall("Spain58\Z",txt)
if x:
    print("Yes")
else:
    print("No")

Yes

In [54]:
import re
txt="The Rain in Spain58"
x=re.findall("[arn]",txt)
print(x)
if x:
    print("Yes")
else:
    print("No")

['a', 'n', 'n', 'a', 'n']
Yes

In [55]:
import re
txt="The Rain in Spain58"
x=re.findall("[a-n]",txt)
print(x)
if x:
    print("Yes")
else:
    print("No")

['h', 'e', 'a', 'i', 'n', 'i', 'n', 'a', 'i', 'n']
Yes

In [56]:
import re
txt="The Rain in Spain58"
x=re.findall("[^arn]",txt)
print(x)
if x:
    print("Yes")
else:
    print("No")

['T', 'h', 'e', ' ', 'R', 'i', ' ', 'i', ' ', 'S', 'p', 'i', '5', '8']
Yes

In [58]:
import re
txt="The Rain in Spain528"
x=re.findall("[0123]",txt)
print(x)
if x:
    print("Yes")
else:
    print("No")

['2']
Yes

In [59]:
import re
txt="The Rain in Spain58"
x=re.findall("[0-5][0-9]",txt)
print(x)
if x:
    print("Yes")
else:
    print("No")

['58']
Yes

In [60]:
import re
txt="The Rain in Spain58"
x=re.findall("[a-zA-Z]",txt)
print(x)
if x:
    print("Yes")
else:
    print("No")

['T', 'h', 'e', 'R', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']
Yes

In [61]:
import re
txt="The rain in spain"
x=re.findall("ai",txt)
print(x)

['ai', 'ai']

In [62]:
import re
txt="The rain in spain"
x=re.findall("ahki",txt)
print(x)

[]

In [68]:
import re
txt="The rain in spain"
x=re.search("\s",txt)
print("the first White-space is present in position:",x.start())

the first White-space is present in position: 3

In [71]:
import re
txt="The rain in spain"
x=re.search("ahji",txt)
print(x)

None

In [72]:
import re
txt="The rain in spain"
x=re.split("a",txt)
print(x)

['The r', 'in in sp', 'in']

In [73]:
import re
txt="The rain in spain"
x=re.split("a",txt,1)
print(x)

['The r', 'in in spain']

In [75]:
import re
txt="The rain in spain"
x=re.sub("a","9",txt)
print(x)

The r9in in sp9in

In [77]:
import re
txt="The rain in spain"
x=re.sub("\s","9",txt,2)
print(x)

The9rain9in spain

In [81]:
import re
txt="The rain in spain"
x=re.search("spain",txt)
print(x.span())

(12, 17)

In [82]:
import re
txt="The rain in spain"
x=re.search("spain",txt)
print(x.string)

The rain in spain

In [83]:
import re
txt="The rain in spain"
x=re.search("spain",txt)
print(x.group())

spain