In [1]:
n=int(input("Enter a Number:"))
print("You have entered ",n)
print("Thank You!")

Enter a Number:5
You have entered  5
Thank You!

In [3]:
print("My","Name","is","Abhijit","Nanda",sep="**")

My**Name**is**Abhijit**Nanda

In [9]:
num=8
print('%o'% num)

10

In [12]:
num=458.541315
print("%.2f"%num)

458.54

In [19]:
n=[]
for i in range(5):
    m=float(input("Enter number at loction:"))
    n.append(m)
print("User Input",n)

Enter number at loction:5.4
Enter number at loction:4.6
Enter number at loction:2.3
Enter number at loction:1.5
Enter number at loction:4.9
User Input [5.4, 4.6, 2.3, 1.5, 4.9]

In [36]:
str1,str2,str3=input("Enter any 3 string").split()
print("Name1:",str1)
print("Name2:",str2)
print("Name3:",str3)

Enter any 3 stringAbhijit Rinku Abhi
Name1: Abhijit
Name2: Rinku
Name3: Abhi

In [47]:
t=1000
q=3
p=450
print("I have {0} dollars so i can buy {1} football for {2} dollars.".format(t,q,p))

I have 1000 dollars so i can buy 3 football for 450 dollars.

In [49]:
print("I have %s dollars so i can buy %s football for %s dollars."%(1000,3,425))

I have 1000 dollars so i can buy 3 football for 425 dollars.

In [52]:
import os
size=os.stat("line.txt").st_size
if size==0:
    print("file is empty")

file is empty

In [60]:
f=open("line.txt","a")
f.write("line1\n")
f.write("line2\n")
f.write("line3\n")
f.write("line4\n")
f.write("line5\n")
f.write("line6")

5

In [76]:
f=open("line.txt","r")
li=f.readlines()
print(li[5])

line6

In [9]:
arr=[11,2,20,10,15,21,19,1,5,12]
i=int(input("Enter a number to check that present or not:"))
x=arr.index(i)
if i in arr:
    print(i," is present at index number ",x,".")
else:
    print(i," is not present")

Enter a number to check that present or not:20
20  is present at index number  2 .

In [8]:
arr=['z','m','r','k','g','T','d','f']
j=str(input("Enter a alphabet to check that present or not:"))
x=arr.index(j)
if j in arr:
    print(j," is present at index number ",x,".")
else:
    print(j," is not present")

Enter a alphabet to check that present or not:m
m  is present. 1

In [12]:
x=20
y=10
x,y=y,x
print("x=",x," y=",y)

x= 10  y= 20

In [15]:
list1=[12,11,13,5,6,10,9,5,1,8]
print("Unsorted list:",list1)
l=set(list1)
list1=list(l)
print("Sorted list:",list1)

Unsorted list: [12, 11, 13, 5, 6, 10, 9, 5, 1, 8]
Sorted list: [1, 5, 6, 8, 9, 10, 11, 12, 13]

In [18]:
def selectionsort(array,size):
    for step in range(size):
        min_idx=step
        for i in range(step+1,size):
            if array[i]<array[min_idx]:
                min_idx=1
        (array[step],array[min_idx])=(array[min_idx],array[step])
data=[11,2,43,54,90,10]
size=len(data)
selectionsort(data,size)
print(f"Sorted list= {data}")

Sorted list= [2, 90, 11, 43, 54, 10]

In [31]:
data=['p','y','t','h','o','n']
data.sort()
print("Sorted list= ",data)

Sorted list=  ['h', 'n', 'o', 'p', 't', 'y']

In [96]:
low=int(input("Enter Lower Range:"))
up=int(input("Enter Upper Range:"))

for num in range(low,up+1):
    if num>1:
        for i in range(2,num):
            if(num%i)==0:
                break
        else:
            print(num,end=" ")

Enter Lower Range:1
Enter Upper Range:50
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [8]:
x=1
while x<=10:
    print(x)
    x+=1

1
2
3
4
5
6
7
8
9
10

In [23]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [28]:
n=int(input("Enter a number:"))
s=0
for i in range(1,n+1):
    s=s+i
print("Sum of 1 to",n,"is:",s)

Enter a number:40
Sum of 1 to 40 is: 820

In [30]:
n=int(input("Enter a number:"))
for i in range(1,11):
    print(n,"*",i,":",n*i)

Enter a number:10
10 * 1 : 10
10 * 2 : 20
10 * 3 : 30
10 * 4 : 40
10 * 5 : 50
10 * 6 : 60
10 * 7 : 70
10 * 8 : 80
10 * 9 : 90
10 * 10 : 100

In [44]:
n=[12,75,150,45,145,525,50]
for i in range(len(n)):
    if n[i]%5==0:
        if n[i]>500:
            break
            if n[i]>150:
                continue
        print(n[i])

75
150
45
145

In [51]:
n=int(input("Enter a number:"))
count=0
while n!=0:
    n=n//10
    count+=1
print("Total Digits are:",count)

Enter a number:45875
Total Digits are: 5

In [69]:
for i in range(0,5):
    for j in range(5-i,0,-1):
        print(j,end=" ")
    print(' ')

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [78]:
n=[10,20,30,40,50]
n.reverse()
for i in range(len(n)):
    print(n[i])

50
40
30
20
10

In [80]:
n=[10,20,30,40,50]
size=len(n)-1
for i in range(size,-1,-1):
    print(n[i])

50
40
30
20
10

In [94]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [95]:
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

In [103]:
low=int(input("Enter a starting number:"))
up=int(input("Enter Ending number:"))

for num in range(low,up+1):
    if num>1:
        for i in range(2,num):
            if (num%i)==0:
                 break
        else:
            print(num,end=" ")

Enter a starting number:1
Enter Ending number:50
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [105]:
num1=0
num2=1
for i in range(10):
    print(num1,end=" ")
    res=num1+num2
    num1=num2
    num2=res

0 1 1 2 3 5 8 13 21 34

In [111]:
s=1
n=int(input("Enter a number to get factorial:"))
for i in range(1,n+1):
    s=s*i
print("Factorial of",n,"is:",s)

Enter a number to get factorial:6
Factorial of 6 is: 720

In [114]:
n=int(input("Enter a number:"))
reverse=0
print("Given Number is:",n)
while n>0:
    reminder=n%10
    reverse=(reverse*10)+reminder
    n=n//10
print("Reversed number is:",reverse)

Enter a number:58746
Given Number is 58746
Rveresed number is: 64785

In [116]:
n=[10,20,30,40,50,60,70,80,90,100]
for i in range(len(n)):
    if i%2!=0:
        print(n[i],end=" ")

20 40 60 80 100

In [120]:
n=int(input("Enter a range:"))
for i in range(1,n+1):
    print("Current Number:",i,"and the Cube is:",i*i*i)

Enter a range:6
Current Number: 1 and the Cube is: 1
Current Number: 2 and the Cube is: 8
Current Number: 3 and the Cube is: 27
Current Number: 4 and the Cube is: 64
Current Number: 5 and the Cube is: 125
Current Number: 6 and the Cube is: 216

In [132]:
n=int(input("Enter a range:"))
start=2
sum_=0
for i in range(1,n+1):
    print(start,end=" ")
    sum_=sum_+start
    start=(start*10)+2
print("\nSum of the Sequence is:",sum_)

Enter a range:5
2 22 222 2222 22222
Sum of the Sequence is: 24690

In [147]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*",end=' ')
    print(' ')
for i in range(1,6):
    for j in range(6-i,1,-1):
        print("*",end=' ')
    print(' ')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*