In [1]:
def greeting():
    print('Welcome')
    print('Abhijit Nanda')

greeting()

Welcome
Abhijit Nanda

In [11]:
def gfunc(name):
    print(f'hy {name}')
    
gfunc('Abhijit')

hy Abhijit

In [12]:
def gfunc(name):
    return f'Hy {name}'
    
gfunc('Abhijit')

'Hy Abhijit'

In [18]:
def gfunc(n,m):
    return n+m
    
gfunc(1,5)

6

In [25]:
def gfunc(n,m):
    return n+m
print(gfunc(3,m=4))

7

In [30]:
def increment(n,j=4):
    return n+j
increment(2)

6

In [31]:
def increment(n,j=4):
    return n+j
increment(2,6)

8

# We can assign value to an datatype.

In [32]:
int='Abhi'
int

'Abhi'

In [34]:
int=5
int

5

# But We can't assign value to a keyword.

In [33]:
True='Abhi'
True

SyntaxError: cannot assign to True (<ipython-input-33-382f86499587>, line 1)

In [35]:
False=58
False

SyntaxError: cannot assign to False (<ipython-input-35-bb0d184b6c32>, line 1)

In [2]:
thelist=['Apple','Banana','Kiwi','Cherry','Orange','Mango','Pinapple']
thelist.sort()
print(thelist)

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Mango', 'Orange', 'Pinapple']

In [3]:
thelist=['Apple','Banana','Kiwi','Cherry','Orange','Mango','Pinapple']
thelist.sort(reverse=True)
print(thelist)

['Pinapple', 'Orange', 'Mango', 'Kiwi', 'Cherry', 'Banana', 'Apple']

In [5]:
thelist=['Apple','Banana','Kiwi','Cherry','Orange','Mango','Pinapple']
thelist.reverse()
print(thelist)

['Pinapple', 'Mango', 'Orange', 'Cherry', 'Kiwi', 'Banana', 'Apple']

In [8]:
thelist=['Apple','Banana','kiwi','cherry','Orange','Mango','Pinapple']
thelist.sort()
print(thelist)

['Apple', 'Banana', 'Mango', 'Orange', 'Pinapple', 'cherry', 'kiwi']

In [10]:
thelist=['Apple','Banana','kiwi','cherry','Orange','Mango','Pinapple']
thelist.sort(key=str.upper)
print(thelist)

['Apple', 'Banana', 'cherry', 'kiwi', 'Mango', 'Orange', 'Pinapple']

In [23]:
def myfunc(n):
    return abs(n-50)
thislist=[100,58,75,69,23,215,14]    
thislist.sort(key=myfunc)
print(thislist)

[58, 69, 75, 23, 14, 100, 215]

In [24]:
l1=[1,25,85,14,65]
l2=['a','b','c']
print(l1+l2)

[1, 25, 85, 14, 65, 'a', 'b', 'c']

In [25]:
l1=[1,25,85,14,65]
l2=['a','b','c']
for x in l2:
    l1.append(x)
print(l1)

[1, 25, 85, 14, 65, 'a', 'b', 'c']

In [26]:
l1=[1,25,85,14,65]
l2=['a','b','c']
l1.extend(l2)
print(l1)

[1, 25, 85, 14, 65, 'a', 'b', 'c']

In [28]:
l1=[1,25,85,14,65]
l2=l1.copy()
print(l2)

[1, 25, 85, 14, 65]

In [32]:
l1=[1,25,85,85,14,65]
l2=list(l1)
print(l2)

[1, 25, 85, 85, 14, 65]

In [33]:
print(type(l1))

<class 'list'>

In [34]:
thistuple=('apple',)
print(type(thistuple))

<class 'tuple'>

In [35]:
thistuple=('apple')
print(type(thistuple))

<class 'str'>

In [41]:
thistuple=tuple(('a','b',1,2,'m',True))
print(thistuple)
print(type(thistuple))

('a', 'b', 1, 2, 'm', True)
<class 'tuple'>

In [49]:
thistuple=tuple(('a','b',1,2,'m',True))
print(thistuple[4])
print(thistuple[-3])

m
2

In [56]:
print(thistuple[1:4])

('b', 1, 2)

In [55]:
print(thistuple[1:])

('b', 1, 2, 'm', True)

In [57]:
print(thistuple[:4])

('a', 'b', 1, 2)

In [58]:
print(thistuple[1:-3])

('b', 1)

In [59]:
print(thistuple[:-2])

('a', 'b', 1, 2)

In [64]:
print(thistuple[::-1])

(True, 'm', 2, 1, 'b', 'a')

In [61]:
print(thistuple[-4:-1])

(1, 2, 'm')

In [75]:
fruits=('Apple','Banana','Cherry','Kiwi','Mango')
if 'Mango' in fruits:
    print('Yes \'Mango\' is present in the \'fruits\' tuple')
else:
    print('No \'Mango\' is not present in the \'fruits\' tuple')

Yes 'Mango' is present in the 'fruits' tuple

In [81]:
x=('Mango','Kiwi','Cherry')
y=list(x)
y[0]='Apple'
x=tuple(y)
print(x)

('Apple', 'Kiwi', 'Cherry')

In [84]:
x=('Mango','Kiwi','Cherry')
y=list(x)
y.append('Apple')
y.append('Orange')
x=tuple(y)
print(x)

('Mango', 'Kiwi', 'Cherry', 'Apple', 'Orange')

In [85]:
x=('Mango','Kiwi','Cherry')
y=('Apple','Banana','Orange')
print(x+y)

('Mango', 'Kiwi', 'Cherry', 'Apple', 'Banana', 'Orange')

In [86]:
x=('Mango','Kiwi','Cherry','banana')
y=list(x)
y.remove('banana')
x=tuple(y)
print(x)

('Mango', 'Kiwi', 'Cherry')

In [87]:
x=('Mango','Kiwi','Cherry')
del x
print(x)

NameError: name 'x' is not defined

In [91]:
fruits=('apple','banana','cherry','orange')
(a,b,c,d)=fruits
print(a)
print(b)
print(c)
print(d)

apple
banana
cherry
orange

In [92]:
fruits=('apple','banana','cherry','orange','kiwi','pineapple')
(a,b,*c)=fruits
print(a)
print(b)
print(c)

apple
banana
['cherry', 'orange', 'kiwi', 'pineapple']

In [93]:
fruits=('apple','banana','cherry','orange','mango','kiwi','pineapple')
(a,*b,c)=fruits
print(a)
print(b)
print(c)

apple
['banana', 'cherry', 'orange', 'mango', 'kiwi']
pineapple

In [94]:
thistuple=('Apple','Banana','Cherry','Mango')
for x in thistuple:
    print(x)

Apple
Banana
Cherry
Mango

In [95]:
thistuple=('Apple','Banana','Cherry','Mango')
for i in range(len(thistuple)):
    print(thistuple[i])

Apple
Banana
Cherry
Mango

In [96]:
thistuple=('Apple','Banana','Cherry','Mango')
i=0
while i<len(thistuple):
    print(thistuple[i])
    i+=1

Apple
Banana
Cherry
Mango

In [98]:
thistuple=('Apple','Banana','Cherry','Mango')
mytuple=thistuple*3
print(mytuple)

('Apple', 'Banana', 'Cherry', 'Mango', 'Apple', 'Banana', 'Cherry', 'Mango', 'Apple', 'Banana', 'Cherry', 'Mango')

In [102]:
a=(1,2,5,8,8,5,7,3,69,2,5)
a.count(2)

2

In [106]:
a=(1,2,5,8,8,5,7,3,69,2,5)
print(a.index(2))

1